:root {
	--white-color: #ffffff;
	--light-grey-color: rgb(206, 206, 206);
	--grey-color: #bababa;

	--base-color: #ffffff;
	--secondary-color: #32c1e5;
	--tertiary-color: #2698b4;
	--font-color: #000000;

	--white: #ffffff;
	--grey-1: #eeeeee;
	--grey-2: #e3e3e3;
	--grey-3: #767676;

	--search-button-margin: 2px;
	--nav-button-margin: 14px;

	--font-size-1: 1.2rem;
	--font-size-2: 0.8rem;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
	z-index: 98;
	display: none;
}

.cart-r.active + .overlay {
	display: block;
	animation: fadeInOverlay 0.3s ease;
	
}

@keyframes fadeInOverlay {
	from {
		opacity: 0;
	}
	to {
	  	opacity: 1;
	}
}

.cart-r {
	position: fixed;
	right: 0;
	top: 4rem;
	z-index: 100;
	overflow-y: scroll;

	background-color: var(--white-color);

	transform: translateX(125%);
	transition: transform 0.3s ease;

	/* max-height: calc(100% - 4rem); */
	/* min-height: 10vh; */
	height: calc(100% - 4rem);
	max-width: 32rem;
}

.cart-r.active {
	background-color: var(--white-color);

	transform: translateX(0%);
}

.cart-r::-webkit-scrollbar {
    width: 0.5rem;
}
 
.cart-r::-webkit-scrollbar-thumb {
    background-color: var(--grey-3);
}

.cart-r-empty {
	font-size: 1rem;
	text-align: center;
	padding: 64px;
}

/* Header */

.cart-r .head {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: sticky;
	top: 0;
	background-color: var(--white-color);

	margin: 0 16px;
	padding: 8px 0;
	z-index: 101;

	border-bottom: 2px groove rgba(0, 0, 0, 0.1);
}

.cart-r .head #title {
	font-weight: 500;
	font-size: 1.5rem;

	margin: 8px 0;
}

/* Footer */

.cart-r .foot {
	display: flex;
	flex-direction: column;
    align-items: center;

	position: sticky;
	bottom: 0;
	background-color: var(--white-color);

	margin: 0 16px;
	padding: 16px 0;
	z-index: 101;

	border-top: 2px groove rgba(0, 0, 0, 0.1);
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
}

.total #name,
.total #value {
	font-size: 1rem;

}

/* Item Container */

.cart-r .items {
	margin: 0 16px;
}

.cart-r .items .item .item-container {
	display: flex;
}

.cart-r .items .item .item-container .image {
	margin-right: 12px;
}

.cart-r .items .item .item-container .image img {
	width: 150px;
	opacity: 100%;
}

.cart-r .items .item,
.subtotal-container {
	margin: 8px 0px;
	padding: 8px 0px;
	background-color: var(--white);
}

.cart-r .items .item .item-container .info-container {
	display: flex;
}

.cart-r .items .item .item-container .info-container .info-text-container {
	display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;

	height: 100%;
}

.cart-r .items .item .item-container .info-container .info-text-container #name {
	font-size: var(--font-size-1);
	font-weight: 500;
}

.cart-r .items .item .item-container .info-container .info-text-container #price {
	font-size: var(--font-size-1);
}

.cart-r .items .item .item-container .info-container .info-text-container #qty,
.cart-r .items .item .item-container .info-container .info-text-container #category {
	font-size: var(--font-size-2);
}

.edit-container {
	display: flex;

}

#qty-update {
	margin-right: 10px;
	border: none;
	background-color: white;
	
}

#qty-update:hover {
	border: none;
	background-color: white;
	text-decoration: underline;
}