.menu, 
.menu:not(.active) {
	position: fixed;
	right: 0;
	/* top: 4rem; */
	z-index: 105;

	background-color: var(--white-color);

	transform: translateX(125%);
	transition: transform 0.3s ease-in;
	height: 100vh;
	width: 25rem;
}

.menu.active {
	background-color: var(--white-color);
	transform: translateX(0%);
	transition: transform 0.3s ease-out;
}

.menu::-webkit-scrollbar {
    width: 0.5rem;
}
 
.menu::-webkit-scrollbar-thumb {
    background-color: var(--grey-3);
}

@media (max-width: 787px) {

	.menu {
		width: 100%;
	}

}