
:root {
	--base-color: #1c3d47;
	--secondary-color: #32c1e5;
	--tertiary-color: #2698b4;
	--font-color: #000000;

	--search-bar-white: #ffffff;
	--search-bar-grey-1: #eeeeee;
	--search-bar-grey-2: #e3e3e3;
	--search-bar-grey-3: #767676;

	--search-button-margin: 2px;
	--nav-button-margin: 18px;
}

#search-form-onSubmit {
	display: flex;
	justify-content: center;
	align-items: center;

    position:relative;

	margin-right: var(--nav-button-margin);

	height: 100%;
	min-width: 5rem;
	width: 100%;
}
  
#search-bar,
#search-bar:valid {
	padding: 8px 16px;
	border: none;
	border-left: 5px solid transparent; /* Transparent left border to create the semi-circle */
	border-right: 5px solid transparent; /* Transparent right border to create the semi-circle */
	border-radius: 50px;
	
	font-size: 14px;

	background-color: var(--search-bar-grey-1);
	color: var(--search-bar-grey-2);

	height: 80%;
	width: 100%;
	margin: auto;
	transition: width 0.3s ease;

	outline: none;
}

#search-bar:valid {
	color: black;
}

.search-bar::placeholder {
	color: #999;
	border-radius: none;
}
  
#search-button {
	cursor: pointer;
	right: var(--search-button-margin);
	position: absolute;
	fill: var(--font-color);
	text-decoration: none;
	transition: color 0.2s;

	background-color: var(--search-bar-grey-1);

	border: none;
	border-left: 5px solid transparent; /* Transparent left border to create the semi-circle */
	border-right: 5px solid transparent; /* Transparent right border to create the semi-circle */
	border-radius: 50px;

	font-size: 14px;
	text-align: center;

	height: calc(80% - var(--search-button-margin) * 2);
	width: 2.5rem;

}

#search-bar:hover,
#search-bar:hover + #search-button,
#search-bar:hover:valid {
	background-color: var(--search-bar-grey-2);
	fill: var(--font-color);
}

#search-bar:hover::placeholder {
	background-color: var(--search-bar-grey-2);
	color: var(--search-bar-grey-3);
}

#search-bar:hover:valid {
	color: black;
}

#search-button:hover {
	fill: black;
	text-decoration: none;

	background-color: var(--search-bar-grey-2);
	border: none;
	cursor: pointer;
	font-size: 14px;
}
