.search-container {
	margin-right: var(--nav-button-margin);
	height: 100%;
	width: 100%;
}

#sf {
	display: flex;
    justify-content: flex-end;
	align-items: center;
    position: relative;
	height: 100%;
	/* width: 100%; */
	width: 17rem;
	float: right;
}


/* prev version: show search bar */
/* #search-bar,
#search-bar:valid {
	padding: 8px 1rem;
	border: none;
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent;
	font-size: 14px;
	background-color: var(--search-bar-grey-1);
	color: var(--search-bar-grey-2);
	height: 90%;
	width: 12rem;
	transition: width 0.5s ease;
	outline: none;
}

#search-bar:focus {
	width: 100%;
} */

#search-bar:valid {
	color: black;
}

.search-bar::placeholder {
	color: #999;
}
  

#search-bar:hover,
#search-bar:hover:valid {
	/* background-color: var(--search-bar-grey-2); */
	fill: var(--font-color);
	color: black;
}

/* #search-bar:hover::placeholder {
	background-color: var(--search-bar-grey-2);
	color: var(--search-bar-grey-3);
} */

#search-bar, #sf:not(.active) .search-bar {
	opacity: 0;
	width: 0;
	height: 90%;
	overflow: hidden;
	visibility: hidden;
	border: none;
	border-bottom: 1px solid black;
	transition: width 0.5s ease, visibility 0s ease 0.5s, opacity 0s ease 0.5s;
	outline: none;
	text-align: center;
	font-size: 14px;
	z-index: 100;
}

#sf.active #search-bar {
	transition: width 0.5s ease, visibility 0s ease 0s, opacity 0s ease 0s;
	visibility: visible;
	opacity: 1;
	width: 17rem;
	/* max-width: 50rem; */
	padding: 8px 1rem;
	color: var(--search-bar-grey-2);
	/* background-color: var(--search-bar-grey-1); */
}

#sf.active #search-bar:valid {
	color: black;
}

#sf.active #search-bar:hover,
#sf.active #search-bar:hover + #sf.active #search-button,
#sf.active #search-bar:hover:valid {
	/* background-color: var(--search-bar-grey-2); */
	fill: var(--font-color);
}

#sf.active #search-bar:hover::placeholder {
	/* background-color: var(--search-bar-grey-2); */
	color: var(--search-bar-grey-3);
}

#search-close, #sf:not(.active) #search-close {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
	text-decoration: none;
	font-size: var(--icon-size);
	border: none;
	border-radius: 50%;
	height: var(--button-size);
	aspect-ratio: 1/1;
	font-size: 2.5rem;
	font-weight: 100;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	z-index: 101;
	position: absolute;
	right: var(--search-button-margin);
	width: calc(3rem * 0.9 - var(--search-button-margin) * 2);
}

#search-open {
	right: var(--search-button-margin);
}

#search-open.not-active {
	animation: animate-display 0.5s;
	transition: transform 0s ease 0.5s, visibility 0s ease 0.5s;
	visibility: visible;
}

#search-open.active {
	transform: translateY(-300000px);
	width: 0;
	padding: 0;
	visibility: hidden;
	/* display: none; */ /* not working for Safari */
}

@keyframes animate-display {
	0% {
		display: none;
		width: 0;
		padding: 0;
	}
	99.99999% {
		display: none;
		width: 0;
		padding: 0;
	}
	100% {
		display: flex;
	}
}

#search-button, #sf:not(.active) #search-button {
	visibility: hidden;
	opacity: 0;
	background-color: var(--base-color);
	transition: visibility 0s ease 0.5s, opacity 0s ease 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: var(--search-button-margin);
	/* fill: var(--font-color); */
	/* transition: color 0.2s; */
	/* background-color: var(--search-bar-grey-1); */
	text-decoration: none;
	text-align: center;
	font-size: var(--icon-size);
	border: none;
	height: calc(90% - var(--search-button-margin) * 2);
	width: calc(3rem * 0.9 - var(--search-button-margin) * 2);
	aspect-ratio: 1/1;
	cursor: pointer;
	z-index: 101;
}

#sf.active #search-button {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s ease 0s, opacity 0s ease 0s;
	/* background-color: var(--search-bar-grey-1); */
}


/* Mobile Header View */

@media (max-width: 899px) {

	.nav-r-auth-cart-box {	
		margin-right: 0px !important;
	}

	#sf {
		width: 100%;
	}

	#sf.active {
		width: calc(100vw - 2rem);
		margin: 0 1rem;
		float:none;
	}

	#sf:not(.active) #search-bar {
		opacity: 0;
		transition:none;
	}

	#sf.active #search-bar {
		width: 100%;
		opacity: 1;
		transition: opacity 0.5s ease;
	}

	#sf:not(.active) #search-close, #sf:not(.active) #search-button {
		transition:none;
		width: 0;
		padding: 0;
	}

	#sf.active #search-close, #sf.active #search-button {
		transition: opacity 0.5s ease;
	}
	#sf.active #search-button {
		left: 0;
	}

	#sf.active #search-close {
		position: absolute;
		right: var(--search-button-margin);
		visibility: visible;
		opacity: 1;
	}

	#sf.active #search-button {
		margin: 0;
	}

	#search-open:not(.active) {
		animation: none;
		transition: none;
	}	
	
}