.cart {
    display: flex;
    flex-direction: row;

    margin: 0 auto;
    
    max-width: 1200px;
    width: 100%;
    height: 100%;
}

.cart-box {
    display: flex;
    flex-direction: column;

    width: 70%;
    
    margin: 0 1rem;
    padding-bottom: 1rem;
}

.cart-box .head #title {
    font-weight: bold;
	font-size: 1.5rem;

	margin: 1rem 0;
}

.cart-box .items {
    display: flex;
    flex-direction: column;
}

.cart-box .items .item {
    display: flex;
    flex-direction: row;

    margin: 1rem 0;
}

.cart-box .items .item .prod-img {
    width: 10rem;
    height: 10rem;
}

.cart-box .items .item .prod-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: space-around;
}

.cart-box .items .item .prod-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 1rem;

    width: calc(100% - 11rem);

    font-size: 1rem;
}

.cart-box .items .item .prod-info .name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 2px 0;

    font-weight: 450;
}

.cart-box .items .item .prod-info .name-price #price {
    white-space: nowrap;
}

.cart-box .items .item .prod-info .name-price #name,
.cart-box .items .item .prod-info .name-price #price,
.cart-box .items .item .prod-info #category,
.cart-box .items .item .prod-info .qty-edit {
    margin-bottom: 5px;
}

.cart-box .items .item .prod-info .qty-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-box .items .item .prod-info .info-qty {
    display: flex;
    flex-direction: column;
}

.qty-edit #qty-var {
    margin-right: 10px;
}

.qty-edit .qty-val {
    display: flex;
    flex-direction: row;
}

.qty-edit #qty-button,
.qty-edit #qty {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--base-color);
    color: var(--secondary-color);

    text-align: center;

    width: calc(80px / 3);
}

.qty-edit #qty-button {
    border: 1px solid black;
}

.cart-box .items .item .prod-info #remove-button {
    width: 80px;
    height: 1.5rem;
    box-sizing: border-box;
    border: 1px solid black;

    background-color: var(--base-color);
    color: var(--secondary-color);

    text-transform: uppercase;
    font-stretch: 1px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Summary Box */

.summary-box {
    display: flex;
    flex-direction: column;

    width: 30%;

    margin: 0 1rem;
}

.summary-box .head #title {
    font-weight: bold;
	font-size: 1.5rem;

	margin: 1rem 0;
}

.summary-box #value {
    white-space: nowrap;
}

.summary-box .subtotal-box,
.summary-box .shipping-handling-box,
.summary-box .tax-box,
.summary-box .total-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 8px 0;
}

.summary-box .separator {
    margin: 8px 0;
    border-top: 2px groove black;
}

.checkout-box {
    margin-bottom: 1rem;
}

#checkout {
	display: flex;
	align-items: center;
    justify-content: center;

	height: 60px;
	width: 100%;

    font-size: 1rem;

	padding: 1rem;
	margin-top: 1rem;

	box-sizing: border-box;
    
    cursor: pointer;

	border-radius: 0;
    border-width: 0;
    border: 1px solid var(--secondary-color);

    background-color: var(--secondary-color);
	color: white;

    text-transform: uppercase;
	text-align: center;
    letter-spacing: 2px;

    transition: background-color 0.5s ease, color 0.5s ease, font-size 0.5s ease;

	text-align: center;
	text-decoration: none;
}

#checkout-empty-cart {
    display: flex;
	align-items: center;
    justify-content: center;

	height: 60px;
	width: 100%;

    font-size: 1rem;

	padding: 1rem;
	margin-top: 1rem;

	box-sizing: border-box;
    
    cursor: pointer;

	border-radius: 0;
    border-width: 0;
    border: 1px solid var(--grey-1);

    background-color: var(--grey-1);
	color: var(--grey-3);

    text-transform: uppercase;
	text-align: center;
    letter-spacing: 2px;

    transition: background-color 0.5s ease, color 0.5s ease, font-size 0.5s ease;

	text-align: center;
	text-decoration: none;
}

#checkout:hover {
	background-color: var(--base-color);
	color: var(--secondary-color);
	font-size: 0.8rem;

    /* height: 100%; */
}

@media (max-width: 787px) {

    .cart {
        flex-direction: column;

        margin: 0;

        width: 100%;
    }

    .cart-box {
        margin: 0 1rem;
        width: calc(100% - 2rem);

        padding-bottom: 1rem;

        border-bottom: 1px solid var(--grey-2);
    }

    .cart-box .items .item .prod-img {
        width: 5rem;
        height: 5rem;
    }
    
    .cart-box .items .item .prod-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cart-box .items .item .prod-info {
        font-size: 0.8rem;
        width: calc(100% - 5.5rem);
    }

    .cart-box .items .item .prod-info .name-price {
        font-size: 0.8rem;
        /* flex-direction: column; */
    }

    .cart-box .items .item .prod-info .info-qty {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .summary-box {
        margin: 0 1rem;
        width: calc(100% - 2rem);
    }

}