.checkout {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.left-ch {
    width: 60%;
}

.right-ch {
    width: 40%;
}

.shipping, .billing, .order-box {
    margin: 0 2rem 1rem 3rem;
}

.link {
    font-size: 0.8rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.head .title {
    font-weight: bold;
	font-size: 1.5rem;
	margin: 1rem 0;
}

/* Shipping and billing*/

.shipping {
    display: flex;
    flex-direction: column;
}

.cinfo-double {
    display: flex;
    flex-direction: row;
}

.shipping > div, .billing > div {
    width: 100%;
}

.cinfo {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: -1px;
    height: 3.3rem;
    border: 1px black solid;
}

.cinfo:focus-within {
    .cinfo .shipping-label {
        transform: translateY(0.5rem) scale(0.7);
        margin-left: 0.5rem;
    }
}

.cinfo-input {
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

.cinfo-input:focus + .cinfo-label,
.cinfo-label.active {
    transform: translateY(0.5rem) scale(0.7);
    margin-left: 0.5rem;
}

.cinfo.error {
    border-color: red;
    z-index: 10;
}

.cinfo.error .cinfo-label {
    color: red;    
}

.cinfo-label {
    transform: translateY(1rem);
    margin-left: 0.5rem;
    cursor: text;
    color: rgb(96, 96, 96);
    transition: transform 0.3s ease;
    transform-origin: top left;
    pointer-events: none;
    position: absolute;
}

.cinfo-double .cinfo:first-child {
    width: 50%;
}

.cinfo-double .cinfo:nth-child(2) {
    margin-left: -1px;
    width: calc(50% + 1px);
}


.billing-checkbox:checked ~ .billing-form {
    display: none;
}

#order {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border: solid 1px black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem 0 3rem;
    font-size: 1rem;
    transition: letter-spacing 0.3s ease, background-color 0.3s ease, font-size 0.3s ease;
}

#order:hover {
    background-color: rgb(51, 51, 51);
}

#order:focus {
    background-color: var(--base-color);
    color: var(--secondary-color);
    letter-spacing: 5px;
}


/* cart item */

.cart-ch, .order-summary {
    margin: 0 3rem 1rem 3rem;
}

.items-ch {
    display: flex;
    flex-direction: column;
}

.items-ch .item-ch {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    font-size: 0.8rem;
}

.item-ch-img {
    width: 5rem;
    height: 5rem;
    /* flex: 0 0 5rem; */
}

.item-ch-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: space-around;
}

.item-info-ch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 5rem);
}

.info-left {
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.info-left > * {
    text-align: left;
    padding: 0 1rem;
    margin: 0;
}

.info-left .name, .info-right .price {
    font-weight: 400;
}

.info-right {
    text-align: right;
}

/* order summary */

.order-summary {
    display: flex;
    flex-direction: column;
}


.order-summary .value {
    white-space: nowrap;
    font-weight: 400
}

.order-summary .subtotal-box,
.order-summary .shipping-handling-box,
.order-summary .tax-box,
.order-summary .total-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.order-summary .separator {
    margin: 8px 0;
    border-top: 2px groove black;
}

.order-summary .total-box {
    font-weight: bold;
}

.order-summary .total-box {

}

/* mobile */

@media screen and (max-width: 787px) {

.checkout {
    flex-direction: column;
}

.left-ch, .right-ch {
    width: 100%;
}

.shipping, .billing, .order-box, .cart-ch, .order-summary {
    margin: 0 1rem;
}

.cinfo-double {
    flex-direction: column;
}

.cinfo-double .cinfo:first-child, .cinfo-double .cinfo:nth-child(2) {
    width: 100%;
}

.cinfo-double .cinfo:nth-child(2) {
    margin-left: 0;
}

}