.pl-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 0.5rem;
    max-width: 70rem;
    width: 98%;
    margin: auto;
}

.pl-item {
    display: flex;
    flex-direction: column;
} 

.pl-image-box {
    overflow: hidden;
}

.pl-image {
    width: 100%;
    animation: onload 0.75s;
    transition: all 0.3s;
}

.pl-image:hover {
    transform: scale(1.1);
}

@keyframes onload {
    0% { opacity: 0; }
    100% { opacity: 1; }

}