.product-container {
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
}


.product-image {
    width: 30rem;
}

.left-container{
    display: flex;
    flex-direction: column;
}

.product-info {
    box-sizing: border-box;
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
}

.product-info .name{
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.product-info .qty {
    display: flex;
    flex-direction: row;
    font-family: var(--font-style-number);

}

.product-info .price {
	font-family: var(--font-style-number);
}

.go-back{
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.5s ease, background-color 0.5s ease;
    left: 0;
    width: fit-content;
    padding: 0.2rem 0;
    margin: 0.2rem 0;

}

.go-back:hover{
    background-color: black;
    color: white;
}

.category {
    text-decoration: underline;
    width: fit-content;
    padding: 0.3rem 0;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.category:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 899px ) {
    .product-container {
        flex-direction: column;
        margin: 0 0 2rem 0;
    }

    .product-image {
        /* max-width: 30rem; */
        width: 100%;
        object-fit:fill;
    }

    .product-info {
        /* max-width: 30rem; */
        width: 100%;
    }
}