
.product {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column
}

.product-container {
    display: flex;
    flex-direction: row;
    /* margin: 2rem auto; */
}

.product-image {
    /* width: 30rem; */
    width: 100%;
}

.pi-left{
    display: flex;
    flex-direction: column;
    /* max-width: 40rem; */
    width: 50%;
}

.pi-right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    box-sizing: border-box;
    /* max-width: 40rem; */
    width: 50%;
}

.product-info {
    max-width: 25rem;
    margin: auto;
    margin-top: 1.5rem;
}

.pi-name{
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.pi-qty {
    display: flex;
    flex-direction: row;
    font-family: var(--font-style-number);
}

.pi-price {
	font-family: var(--font-style-number);
    font-weight: 500;
    letter-spacing: 2px;

}

.pi-qty, .pi-price, .pi-desc-title {
    margin-top: 1rem;
}

.pi-desc {
    color: rgb(110, 110, 110);
    font-size: 0.9rem;
}

.go-back, .category{
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.5s ease, background-color 0.5s ease;
    left: 0;
    width: fit-content;
    padding: 0.2rem 0.2rem;
    margin-bottom: 0.2rem;
    margin-right: 0.2rem;
}

.category:hover, .go-back:hover {
    background-color: black;
    color: white;
}

.add-to-cart {
    width: 100%;
    height: 3rem;
    background-color: black;
    color: white;
    border: solid 1px black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1rem;
    transition: letter-spacing 0.3s ease, background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: rgb(55, 55, 55);
    letter-spacing: 5px;
}

.pi-qty > * {
    width: 2rem;
    text-align: center;
}

.pi-qty > button {
    cursor: pointer;
    border: none;
    background-color: white;
}

.recs {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem auto;
}


@media screen and (max-width: 899px ) {
    .product {
        margin: 1rem auto;
        display: flex;
        flex-direction: column
    }
    
    .product-container {
        flex-direction: column;
        margin: 0 0 2rem 0;
    }

    .pi-left {
        width: 100vw;
    }

    .product-image {
        /* max-width: 30rem; */
        object-fit:fill;
        width: 100vw;
    }

    .pi-right {
        padding: 1rem;
        width: 100vw;
    }

    .product-info {
        max-width: 100%;
    }
    
}