.pl-title, .pl-container, .pagination {
    width: 95%;
    margin: auto;
    max-width: 70rem;
    margin-top: 2rem;
}

.pl-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 0.5rem;
}

.pl-item {
    display: flex;
    flex-direction: column;
} 

.pl-image-box {
    overflow: hidden;
    aspect-ratio: 1.2 / 1;
}

.pl-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: onload 0.75s;
    transition: all 0.3s;
}

.pl-image:hover {
    transform: scale(1.1);
}

.pl-price {
    font-family: 'Inter Tight', sans-serif;
}

.pl-category {
    font-family: 'Nunito Sans';
}

@keyframes onload {
    0% { opacity: 0; }
    100% { opacity: 1; }

}

.pagination {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
}

.pagination button {
    padding: 0.3rem;
    width: 5rem;
    background-color: white;
    color: black;
    border-radius: 0;
    border-width: 0.1rem;
    border-style: solid;
    border-color: black;
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.pagination button:hover {
    background-color: black;
    color: white;
}
