:root {
	--base-color: #ffffff;
	--secondary-color: #32c1e5;
	--tertiary-color: #2698b4;
	--font-color: #000000;

	--button-regular-white: #ffffff;
	--button-regular-grey-1: #eeeeee;
	--button-hover-grey-1: #e3e3e3;
	--button-hover-grey-2: #767676;

	--search-button-margin: 2px;
	--nav-button-margin: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	z-index: 101;

	background-color: var(--base-color);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	
	padding: 8px 0;
	height: 3rem;
	width: 100%;
}

.logo {
	color: #333;

	font-size: 24px;
	font-weight: bold;
}

.navbar {
	display: flex;
	align-items: center;
}
  
.products-list {
	display: flex;
	align-items: center;

	padding-left: 0.5rem;
	height: 100%;
}

.products-list a {
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--font-color);
	background-color: var(--base-color);

	text-decoration: none;
	text-align: center;

	font-size: 14px;

	transition: color 0.2s;
	
	border: none;
	box-sizing: border-box;
	height: 100%;
	width: 100px;
}

.products-list a:hover {
	color: var(--font-color);
	background-color: var(--base-color);

	text-decoration: none;

	font-size: 14px;
	font-weight: bold;
	
	cursor: pointer;

	border: 1px solid var(--white-color);
	border-radius: 2px;
}
  
.category {
	color: #333;

	margin-right: 20px;
}

.left-nav {
	display: flex;
	align-items: center;

	height: 100%;
}

.center-nav {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: 10px;
	height: 100%;
	width: 100%;
}
  
.right-nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	margin-right: 32px;
	height: 100%;
}

/* Authentication Button */

.auth-container {
	display: flex;
	align-items: center;

	padding-left: 0.5rem;
	height: 100%;
}

.auth-container a {
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--font-color);
	background-color: var(--base-color);

	text-decoration: none;
	text-align: center;

	font-size: 18px;

	transition: color 0.2s;
	
	border: none;
	border-left: 5px solid transparent; /* Transparent left border to create the semi-circle */
	border-right: 5px solid transparent; /* Transparent right border to create the semi-circle */
	border-radius: 50px;

	margin-right: var(--nav-button-margin);
	box-sizing: border-box;
	height: 100%;
	width: auto;
	aspect-ratio: 1/1;
}

.auth-container a:hover {
	color: var(--font-color);
	background-color: var(--button-hover-grey-1);

	text-decoration: none;

	font-size: 18px;
	font-weight: bold;
	
	cursor: pointer;
	
	border: none;
	border-left: 5px solid transparent; /* Transparent left border to create the semi-circle */
	border-right: 5px solid transparent; /* Transparent right border to create the semi-circle */
	border-radius: 50px;
}

/* Cart Button */

.cart-button-container {
	display: flex;
	align-items: center;

	padding: 0.5rem;
	height: 100%;
	width: 80px;
}
  
.cart-button {
	color: var(--font-color);
	background-color: var(--base-color);
	
	text-align: center;
	text-align: center;
	text-decoration: none;

	font-size: 18px;

	cursor: pointer;

	transition: color 0.2s;

	border: none;
	border-left: 5px solid transparent; /* Transparent left border to create the semi-circle */
	border-right: 5px solid transparent; /* Transparent right border to create the semi-circle */
	border-radius: 50px;

	height: 100%;
	width: auto;
	aspect-ratio: 1/1;
}

.cart-button:hover {
	color: var(--font-color);
	background-color: var(--button-hover-grey-1);

	text-decoration: none;

	font-size: 18px;
	font-weight: bold;
	
	cursor: pointer;
	
	border: none;
	border-left: 5px solid transparent; /* Transparent left border to create the semi-circle */
	border-right: 5px solid transparent; /* Transparent right border to create the semi-circle */
	border-radius: 50px;
}