:root {
	--base-color: #ffffff;
	--secondary-color: #000000;
	--tertiary-color: #2698b4;
	--font-color: #000000;

	--button-regular-white: #ffffff;
	--search-bar-white: #ffffff;

	--button-regular-grey-1: #eeeeee;
	--search-bar-grey-1: #eeeeee;

	--button-hover-grey-1: #e3e3e3;
	--search-bar-grey-2: #e3e3e3;

	--button-hover-grey-2: #767676;
	--search-bar-grey-3: #767676;

	--search-button-margin: 2px;
	--nav-button-margin: 0.7rem;

	--button-size: 90%;

	--font-size: 1rem;
	--icon-size: 1.2rem;
	--icon-size-small: 0.8rem;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	z-index: 99;

	background-color: var(--base-color);
	
	padding: 0.5rem 0;
	height: 4rem;
	box-sizing: border-box;
	width: 100%;
}

.logo {
	color: #333;

	font-size: 24px;
	font-weight: bold;
	
}

.navbar {
	display: flex;
	align-items: center;
}
  
.products-list {
	display: flex;
	align-items: center;

	padding-left: 0.5rem;
	height: 100%;
}

.products-list a {
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--font-color);
	background-color: var(--base-color);

	text-decoration: none;
	text-align: center;

	font-size: 14px;

	transition: color 0.2s;
	cursor: pointer;

	border: none;
	box-sizing: border-box;
	height: 100%;
	width: 100px;
}

.products-list a:hover {
	color: var(--font-color);
	background-color: var(--base-color);

	text-decoration: none;

	font-size: 14px;
	font-weight: bold;
	
	border: 1px solid var(--white-color);
	border-radius: 2px;
}
  
.category {
	color: #333;

	margin-right: 20px;
}

.nav-l-logo-box {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo {
	height: 3rem;
	aspect-ratio: 582 / 421;
}

.logo-img {
	width: 100%;
}

.nav-c-product-category-search-box {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 100%;
	width: 100%;
}
  
.nav-r-auth-cart-box {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	margin-right: 1rem;
	height: 100%;
}

.auth-box,
.cart-button-box,
.menu-button-box {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: var(--nav-button-margin);
	height: 100%;
	width: auto;
}

.auth-links,
#cart-button, 
#menu-button {
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--font-color);
	background-color: var(--base-color);

	text-decoration: none;
	text-align: center;

	font-size: var(--icon-size);

	transition: color 0.5s, background-color 0.5s, font-size 0.5s ease;
	
	border: none;
	border-radius: 50%;
	cursor: pointer;

	height: var(--button-size);
	width: auto;
	aspect-ratio: 1/1;
}

.auth-links:hover,
#cart-button:hover,
#menu-button:hover {
	color: var(--base-color);
	background-color: var(--secondary-color);
	font-size: var(--icon-size-small);
}	

.dropdown {
	height: 0;
	width: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 4rem;
}

.auth-links:hover + .dropdown,
.auth-links:hover + .dropdown a,
.dropdown:hover
{
	visibility: visible;
	opacity: 1;
	min-width: 10rem;
	background-color: grey;

}


@media screen and (max-width: 769px) {
	.products-list {
		display: none;
	}

	.nav-l-logo-box.active, .products-list.active, .nav-r-auth-cart-box.active, .menu.active {
		display: none;
	}
}